<div class="card my-4">
  <div class="card-body">
    <h2 class="card-title">About Notes App</h2>
    <p class="card-text">Notes App es una aplicación web intuitiva diseñada para ayudarte a organizar tus pensamientos e ideas. Con una interfaz limpia y fácil de usar, Notes App hace que sea fácil crear y administrar notas, agregar etiquetas y buscar tus notas con facilidad.</p>
    <p class="card-text">Nuestra misión es proporcionar una herramienta simple y eficiente para ayudarte a capturar y organizar tus ideas, ya seas un estudiante, un profesional o simplemente alguien a quien le gusta mantenerse organizado. Creemos que todos tienen grandes ideas y queremos ayudarte a dar vida a esas ideas.</p>
    <p class="card-text">¡Únete a nuestra comunidad de usuarios y comienza a tomar el control de tus notas hoy mismo!</p>
  </div>
</div>