<div class="card mt-4">
  <div class="card-body">
    <h2 class="card-title">¡Bienvenido a Notes App!</h2>
      <p class="card-text pb-0">Esta es una aplicación simple y fácil de usar que te permite crear notas, tomar apuntes y escribir tareas sencillas. Para empezar a utilizarla, simplemente regístrate e inicia sesión.</p>
    <ul class="card-text not-decoration">
      <h3>These are some tools i used:</h3>
      <li>Node.js: una plataforma de desarrollo de software basada en JavaScript para construir aplicaciones escalables y de alta velocidad del lado del servidor.</li>
      <li>Express: un marco de aplicación web para Node.js que permite crear aplicaciones web y API de manera fácil y rápida.</li>
      <li>MongoDB: una base de datos NoSQL que se utiliza para almacenar y recuperar datos de manera eficiente.</li>
      <li>Handlebars: un motor de plantillas de HTML que permite crear páginas web dinámicas.</li>
    </ul>
    <a href="https://github.com/Milo2003" class="btn btn-primary btn-lg">Visita mi Github</a>
  </div>
</div>