body {
  background: #00b4db; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #0083b0,
    #00b4db
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #0083b0,
    #00b4db
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.logo {
  width: 15%;
}

.card {
  margin-top: 50px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.card-title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.card-text {
  font-size: 1.25rem;
  line-height: 1.8;
  margin-bottom: 1.5rem;
}

.jumbotron {
  margin-top: 50px;
  margin-bottom: 20px;
  margin-left: 0;
  margin-right: 0;
}

.add-note-btn {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 10px;
}

.not-decoration {
  list-style: none;
  padding: 0;
}